body {
  margin: 0;
  font-family: 'Sofia', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;
  animation: color-change-5x 8s linear infinite alternate both;
}
@media only screen and (max-width: 570px) {
  body {
    padding: 10px;
  }
}
@keyframes color-change-5x {
  0% {
    background: #ffc973;
  }
  25% {
    background: #ff9b71;
  }
  50% {
    background: #b692fe;
  }
  75% {
    background: #01d4ff;
  }
  100% {
    background: #e4ee90;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* background-color: #e6eaf6; */
