body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 100px;
  animation: color-change-5x 8s linear infinite alternate both;
}
@keyframes color-change-5x {
  0% {
    background: #ffc973;
  }
  25% {
    background: #ff9b71;
  }
  50% {
    background: #b692fe;
  }
  75% {
    background: #01d4ff;
  }
  100% {
    background: #e4ee90;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* background-color: #e6eaf6; */
